pip
bumpversion
wheel
watchdog
flake8
tox
coverage
twine
pytest>=7.3.0
pytest-runner
pytest-cov
Sphinx
furo
myst-parser
sphinx_autodoc_typehints
sphinx-inline-tabs
sphinx-autobuild
sphinx-copybutton
sphinx-automodapi
graphviz
tqdm
