biopython
large-image
bokeh
umap-learn
dask[complete]
networkx>=2.1
numpy>=1.16.5
pandas
matplotlib
scipy
astropy
h5py
requests
setuptools
typing
bioservices
itsdangerous
dash
dash-daq
dash-bootstrap-components
gunicorn
six
validators
sqlalchemy
filetype
gtfparse
scikit-allel
rarfile
filetype
goatools
obonet
tensorflow
