biopython
large-image
bokeh
umap
dask[complete]
networkx>=2.1
numpy
pandas
matplotlib
scipy
astropy
h5py
requests
setuptools
typing
bioservices
itsdangerous
dash
dash-daq
dash-bootstrap-components
gunicorn
six==1.10
lxml==4.3.5
validators
sqlalchemy
filetype
gtfparse
scikit-allel
