pip
bumpversion
wheel
watchdog
flake8
tox
coverage
twine
pytest>=7.0.0
pytest-runner
pytest-cov
Sphinx
furo
myst-parser
sphinx_autodoc_typehints
sphinx-inline-tabs
sphinx-autobuild
sphinx-copybutton
sphinx-automodapi
graphviz
tqdm
ruamel.yaml
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
